.popup_form {
  background: rgb(154, 154, 154);
  background: linear-gradient(
    342deg,
    rgba(154, 154, 154, 0.6783088235294117) 0%,
    rgba(208, 208, 208, 0.5018382352941176) 35%,
    rgba(255, 255, 255, 0.4738270308123249) 100%
  );
  height: 90%;
  width: 70%;
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 3% auto;
  border-radius: 5px;
}
.chat_box {
  height: 100%;
  padding: .5rem;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.chat_box::-webkit-scrollbar,
.users_box::-webkit-scrollbar {
  display: none;
}
.message_input {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  border: none;
  background-color: #ffffff;
  font-size: 1rem;
  color: rgb(43, 113, 114);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.message_input:focus {
  outline: none;
}
