.container {
  display: grid;
  grid-template-columns: 20% 10% 70%;

  grid-template-rows: 100vh;
}
.onlone_box {
  background-color: rgb(97, 97, 147);
}
.conversation {
  background-color: salmon;
}
.onlone_box h2 {
  text-align: center;
  border-bottom: 1px solid black;
  letter-spacing: 2px;
}
.users_box {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.users {
  width: 80%;
  border: 1px solid yellow;
  padding: 0.2rem;
  cursor: pointer;
}
.users span {
  color: rgb(100, 255, 110);
  font-weight: 600;
}
.chat_form_box {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  gap: 1rem;
}
